/* Top and bottom bars site layout */

.top.bar {
	height: 60px;
	border-bottom: 1px solid #666666;
	position: relative;
}

.top.bar .login-control {
	width: 460px;
	height: 21px;
	padding-top: 3px;
	clear: both;
	/* background-color: #ABCDEF; */
	float:right;

	font-size: 12px;
}

.top.bar .login-control .field {
	float: left;
	width: 205px;
}

.top.bar .login-control .field label {
	top: 2px;
	position: relative;
}

.top.bar .login-control .field input {
	width: 110px;
}


.top.bar .login-control .field .left{
	width: 64px;
	/* margin-left: 1em; */
}

.top.bar .login-control .field .right{
	
}

.top.bar .login-control .login button {
	margin-left: 2px;
	margin-top: 0px;
	float: left;
	background:none!important;
	border:none; 
	padding:0!important;
	/*border is optional*/
	border-bottom:1px solid #444; 
}

